body {
    font-family: Arial, Helvetica, sans-serif;
}


.container_item {
font-family: Arial, Helvetica, sans-serif;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}


.container_down {
    background-color:white ;
    display: flex ;
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
}

.container_image {
    background-color: (255, 146, 226);;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    font-size: x-large;
 }