body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}


.container_item {
font-family: Arial, Helvetica, sans-serif;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}


.container_down {
    background-color:white ;
    display: flex ;
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
}

.container_image {
    background-color: (255, 146, 226);;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    font-size: x-large;

 }
 


 /* Styles pour la section d'erreur 404 */
#error-page {
    text-align: center;
    margin: 50px auto;
}

#error-page img {
    width: 600px; /* Ajuste la taille du biscuit animé */
}

/* Style pour le conteneur de la barre de recherche */
.container_item form {
    display: flex;
    align-items: center;
}


.container_best {
    background-color: white;
    border-radius: 40px;
    border: 2px solid black;
    margin-bottom: 50px;
   }

   .container_best img {
    width: 500px
   }

   .container_itembest text{
    margin-left: 500px;
   }

.container_text {
    font-size: x-large;
}

.container_asterix{
    font-size: x-small;
}

       