body {
    background-color: white;
}


.container_item {
background-color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: xx-large;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
.list-item {
    display: flex;
    align-items: center;
    width: 48%;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 40px;
}
.list-item img {
    margin-right: 10px;
    margin-left: 30px;
}
.list-item p {
    margin: 0;
}

.container_down {
    background-color:white ;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.container_image {
    background-color: white;
    display: flex;
 }